body, html {
    font-family: PingFang SC,Helvetica Neue,Hiragino Sans GB,Helvetica,Microsoft YaHei,Arial;
}
.list-item {
    display: -webkit-box;
    display: flex;
    padding: 0;
}

.list-item-image {
    width: 100px;
    height: 100px;
}

.list-item-image img {
    width: 100%;
    height: 100%;
}

.list-item-text {
    position: absolute;
    left: 120px;
    right: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 32px;
}

.list-item-brief {
    position: absolute;
    top: 75px;
    left: 120px;
    right: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #888888;
    font-size: 28px;
}

.list-item-button {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;

}

.list-item-button-number {
    float: right;
    background-color: #a72025;
    font-size: 24px;
    margin-top: 45px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px;
    color: #ffffff;
}

.empty-image {
    position: absolute;
    top: 50%;
    margin-top: -200px;
    left: 50%;
    margin-left: -60px;
    width: 120px;
    height: 120px;
}

.empty-text {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    height: 120px;
    color: #888888;
    font-size: 28px;
    text-align: center;
}

.order-item {
    float: left;
    width: 25%;
    text-align: center;
}

.order-item-text {
    font-size: 28px;
}

.footer {
    position: fixed;
    height: 100px;
    left: 0px;
    bottom: 0px;
    width: 100%;
    border-top: 1PX solid #ddd;
}

.footer2 {
    position: fixed;
    left: 0px;
    bottom: 99px;
    width: 100%;
    border-top: 1PX solid #ddd;
}

.footer-buttom {
    width: 100%;
    height: 100%;
    color: #ffffff;
    line-height: 100px;
    text-align: center;
    background-color: #c81623;
}

.product-quantity {
    position: absolute;
    left: 0.3rem;
    right: 0.3rem;
    pointer-events: none;
}

.product-quantity-number {
    float: right;
    width: 36%;
    text-align: center;
}

.product-price {
    color: #c81623;
    margin-left: -5px;
}

.product-content {
    line-height: 0;
}

.product-content img {
    width: 100%;
}

.footer-total {
    position: relative;
    float: left;
    width: 70%;
    height: 100px;
    text-align: left;
    background-color: #ffffff;
}

.footer-total-text {
    margin-left: 20px;
    line-height: 100px;
}

.footer-buy {
    float: left;
    width: 30%;
    height: 100px;
    color: #ffffff;
    line-height: 100px;
    text-align: center;
    background-color: #c81623;
}

.trade-address {
    font-size: 28px;
}

.product-list-image {
    width: 150px !important;
    height: 150px !important;
    border: #ddd 1px solid;
}

.product-list-text {
    position: absolute;
    left: 180px;
    top: 45px;
}

.member-address-address {
    font-size: 28px;
}
